* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Telugu", sans-serif;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Sans 3", sans-serif;
  font-family: "Ysabeau SC", sans-serif;
}
